.home__scenes-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 1rem;
  column-gap: 0.25rem;
  width: 90%;
  margin: 120px auto 2rem;
  justify-items: center;
}

/* Scene card styles */
.home__scene-card {
  border: 1px solid #ccc;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
  will-change: background-color, box-shadow, color;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  background-color: white;
  max-width: 400px;
  border-radius: 20px;
}
.home__scene-card:hover {
  cursor: pointer;
  background-color: #2f90ff;
  box-shadow: 0 0 12px 4px #4a90e2;
}

.home__scene-link {
  display: inline-block;
  width: fit-content;
  max-width: 100%;
  text-decoration: none;
}
.home__scene-link:hover{
  text-decoration: none;
}

.home__scene-img {
  width: 100%;
  border-bottom: 1px solid #ccc;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.home__scene-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
}

.home__scene-name {
  font-family: 'Waldo';
  color: rgb(74, 140, 255);
  text-shadow: -2px 2px 4px rgba(0, 0, 0, 0.2);
  margin: 0;
  font-size: 1.1rem;
  font-style: italic;
}

.home__scene-card:hover .home__scene-info h3 {
  color: white;
  transition: color 0.3s ease;
}

.home__characters-container {
  display: flex;
  gap: 0.5rem;
}

.home__character img {
  width: 24px;
  height: 27px;
}

/* Footer styles */
.home__footer {
  font-family: 'Waldo';
  background-color: beige;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 12rem;
  margin-top: auto;
  height: 50px;
  box-shadow: 0 -2px 10px rgba(0,0,0,0.1);
  text-shadow: -2px 2px 4px rgba(0, 0, 0, 0.2);
}

.home__footer-content {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.home__footer-content a {
  color: #ac0000;
  margin-top: -40px;
  text-decoration: none;
}
.home__footer-content a:hover {
  color: #ff0000;
  text-decoration: none;
}

.home__footer button {
  padding: 0.75rem 1.5rem;
  font-size: 1.5rem;
  cursor: pointer;
  border: none;
  background-color: #ac0000;
  color: white;
  border-radius: 5px;
  transition: background-color 0.2s ease;
}
.home__footer button:hover {
  background-color: #ff0000;
}


/* Media queries */
@media (max-width: 1400px) {
  .home__scenes-container {
    column-gap: 1rem;
  }
  .home__scene-info {
    flex-direction: column;
    gap: 10px;
  }
}

@media (max-width: 1200px) {
  .home__footer {
    padding: 1rem;
    height: fit-content;
    flex-direction: column;
    gap: 0rem;
  }

  .home__footer button {
    margin-top: 0px;
  }
}

@media (max-width: 850px) {
  .home__scenes-container {
    grid-template-columns: 1fr 1fr;
    max-width: 850px;
  }
}

@media (max-width: 600px) {
  .home__scenes-container {
    grid-template-columns: 1fr;
    max-width: 600px;
  }

  .home__scene-card{
    max-width: 400px;
  }
}

@media (max-width: 400px) {
  .home__footer {
    font-size: 0.8rem;
  }

  .home__footer button {
    font-size: 1.25rem;
  }

  .home__footer-content a {
    margin-top: -20px;
  }
}